# PyCharm

*.idea/*

# pycache
*__pycache__/*
*/__pycache__/*

# tensorboard
runs/*

# notebook checkpoints
*.ipynb_checkpoints/*

# data
*data/*
dblp/*
experiment_records/*

# miscellaneous
nohup.out

