# PyCharm

*.idea/*

# pycache
*__pycache__/*
*/__pycache__/*

# tensorboard
runs/*

# notebook checkpoints
*.ipynb_checkpoints/*

# data
*data/*
dblp/*
experiment*
html_viz/*
temp_exps_copy/*
# miscellaneous
nohup.out

